<nav>
    <div class="site-title">
        <h1><a href="/">BlogSpot</a></h1>
        <p>A blog Application</p>
    </div>
    <!-- Add search form -->
    
    <ul>
        <li><form action="/search" method="GET" class="search-form">
            <input type="text" name="tag" placeholder="Search by tag">
            <button type="submit">Search</button>
        </form></li>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
