<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia adipisci facilis eius, odit aliquid animi et laborum qui culpa quia molestiae explicabo id nulla ipsa labore iste incidunt ipsum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quaerat molestiae repellendus beatae ex fugiat, quidem voluptas voluptatem commodi adipisci fugit nesciunt atque laboriosam quae corporis optio facilis? Fugit, officiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, aut mollitia consequuntur labore in est doloremque expedita, culpa iure dolor ad, architecto eaque excepturi cum delectus nobis asperiores odit quasi.</p>


    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>